<div class="wrapper">
  <header class="header">
    <mat-toolbar color="primary">
      <div class="flex-header-row">
        <h1 class="flex-title">{{title}}</h1>
        <div class="flex-menu">
          <a mat-button routerLink="/about">About</a>
          <a mat-button routerLink="/sale">For Sale</a>
          <a mat-button routerLink="/admin">Admin</a>
        </div>
      </div>
    </mat-toolbar>
    <div class="image"></div>
  </header>
  <article class="main">
    <router-outlet></router-outlet>
  </article>
  <!--<aside class="aside aside-1">Aside 1</aside>-->
  <!-- <aside class="aside aside-2">
    <mat-nav-list>
      <a mat-list-item routerLink="/farm/budgets">Budgets</a>
    </mat-nav-list>
  </aside> -->
  <footer class="footer">Footer</footer>
</div>
