<div class="wrapper">
  <header class="header">
    <md-toolbar color="primary">
      <div class="flex-header-row">
        <h1 class="flex-title">{{title}}</h1>
        <div class="flex-menu">
          <span><md-icon class="example-icon">favorite</md-icon> Home</span>
          <span><md-icon class="example-icon">delete</md-icon> About</span>
        </div></div>

    </md-toolbar>
    <div class="image"></div>
  </header>
  <article class="main">
    <router-outlet></router-outlet>
  </article>
  <!--<aside class="aside aside-1">Aside 1</aside>-->
  <aside class="aside aside-2">Aside 2</aside>
  <footer class="footer">Footer</footer>
</div>
