<mat-expansion-panel [formGroup]="form">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="budget.startDate || budget.endDate">{{ budget.startDate | date:'shortDate' }} - {{ budget.endDate | date:'shortDate' }}</span>
      <span *ngIf="!budget.startDate && !budget.endDate">Create New Budget</span>
    </mat-panel-title>
    <mat-panel-description>
      {{ budget.amount | currency:'USD':true }}
      <!-- Type your name and age
      <mat-icon>account_circle</mat-icon> -->
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input formControlName="startDate" mdInput placeholder="Start Date" [mdDatepicker]="startPicker" (focus)="startPicker.open()" readonly>
  </mat-form-field>
  <mat-datepicker #startPicker></mat-datepicker>

  <mat-form-field>
    <input formControlName="endDate" mdInput placeholder="End Date" [mdDatepicker]="endPicker" (focus)="endPicker.open()" readonly>
  </mat-form-field>
  <mat-datepicker #endPicker></mat-datepicker>

  <mat-form-field>
    <input  formControlName="amount" mdInput type="number" min="1" placeholder="Amount">
  </mat-form-field>

  <mat-action-row>
    <button *ngIf="budget.id" mat-button color="warn" (click)="delete.emit(budget.id)">Delete</button>
    <button mat-button color="primary" (click)="doSave(form)">Save</button>
  </mat-action-row>
</mat-expansion-panel>
