<mat-accordion class="example-headers-align">
  <ng-container *ngFor="let section of sections | async">
    <app-section-admin (opened)="sectionOpened($event)"
      [section]="section"
      [posts]="sectionPosts | async"
      (save)="saveSection($event)"
      (delete)="deleteSection($event)"
      (savePost)="savePost($event)"
      (deletePost)="delePost($event)">
    </app-section-admin>
  </ng-container>
  <app-section-admin (save)="addSection($event)"></app-section-admin>
</mat-accordion>